@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "همه ی محصولات";
}



<h2>همه محصولات</h2>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="@product.Url" class="card-img-top" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    
                    <p class="card-text">@product.Price تومان</p>
                </div>
            </div>
        </div>
    }
</div>